<%= turbo_frame_tag "profile_info" do %>
  <div>
     <h3><%= @user.profile.name %></h3>
    <p>Current City: <%= @user.profile.current_city %></p>
    <p>Hometown: <%= @user.profile.hometown %></p>
    <p>Workplace: <%= @user.profile.workplace %></p>
    <p>Websites: <%= @user.profile.websites %></p>
    <p>Social Links: <%= @user.profile.social_links %></p>
  </div>

  <% if current_user.id == @user.id %>
  <%= link_to "Edit Profile", edit_user_profile_path(current_user) %>
  <% end %>
<% end %>