<div class="grid justify-items-center">
  <%= image_tag('people_pages.svg', class: "h-16 w-16") %>
  <h2 class="font-bold py-3">Sign up</h2>
  
  <div class="p-5 bg-stone-200 shadow-md">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>
    
      <div class="field">
        <%= f.label :name %><br />
        <%= f.text_field :name, autofocus: true, class: "outline-none focus:border-2 focus:border-sky-800" %>
      </div>
    
      <div class="field">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "outline-none focus:border-2 focus:border-sky-800" %>
      </div>
    
      <div class="field">
        <%= f.label :password %>
        <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %><br />
        <%= f.password_field :password, autocomplete: "new-password", class: "outline-none focus:border-2 focus:border-sky-800" %>
      </div>
    
      <div class="field">
        <%= f.label :password_confirmation %><br />
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "outline-none focus:border-2 focus:border-sky-800" %>
      </div>
    
      <div class="actions">
        <%= f.submit "Sign up", class: "hover:bg-amber-300 hover:cursor-pointer rounded-sm my-2"  %>
      </div>
    <% end %>
  </div>
  
  <%= render "devise/shared/links" %>
</div>
