<ul>
  <% if comment %>
    <div id="<%= "comment_#{comment.id}" %>">
      <li>
        <%= comment.body %>
        <%= link_to comment.user.name, user_path(comment.user), data: { turbo_frame: "_top" } %>
        <%= turbo_frame_tag "like_#{comment.post.id}" do %>
          <% if comment.likes.any? { |like| like.user_id == current_user.id } %>
            <%= render partial: 'likes/unlike', locals: {resource: comment } %>
          <% else %>
            <%= render partial: 'likes/like', locals: { resource: comment } %>
          <% end %>
        <% end %>
      </li>
      <% if comment.user == current_user %>
        <%= link_to "delete", comment_path(comment.id), data: { turbo_method: :delete }  %>
      <% end %>
    </div>
  <% end %>
</ul>
