<% post.comments.includes(:user).last(3).each do |comment| %>
  <ul>
    <% if comment %>
      <li>
        <%= render partial: 'profiles/display_image', locals: { user: comment.user, size: :thumbnail } %>
        <%= link_to comment.user.name, user_path(comment.user), data: { turbo_frame: "_top" } %>

        <%= comment.body %>

        <%= turbo_frame_tag "like_#{post.id}" do %>
          <% if comment.likes.any? { |like| like.user_id == current_user.id } %>
            <%= render partial: 'likes/unlike', locals: {resource: comment } %>
          <% else %>
            <%= render partial: 'likes/like', locals: { resource: comment } %>
          <% end %>
        <% end %>
      </li>
    <% end %>
  </ul>
<% end %>
