<% post.comments.includes(:user).last(3).each do |comment| %>
  <% if comment %>
    <div class="grid grid-rows-3">

      <div class="row-start-1 flex items-center pt-2">
        <div class="h-7 w-7 inline-block">
          <%= render partial: 'profiles/display_image', locals: { user: comment.user, size: :thumbnail } %>
        </div>
  
        <%= link_to comment.user.name, user_path(comment.user), data: { turbo_frame: "_top" }, class: "font-bold hover:text-sky-800 inline-block pl-3" %>
      </div>

      <div class="pt-1 pl-10 row-start-2 col-start-1 col-span-full">
        <%= comment.body %>
      </div>

      <%= turbo_frame_tag "like_#{post.id}", class: "row-start-3 col-start-1 pl-10" do %>
        <% if comment.likes.any? { |like| like.user_id == current_user.id } %>
          <%= render partial: 'likes/unlike', locals: {resource: comment } %>
        <% else %>
          <%= render partial: 'likes/like', locals: { resource: comment } %>
        <% end %>
      <% end %>

      <% if comment.user == current_user %>
 	      <%= link_to image_tag("icons/delete_outline.png"), comment_path(comment.id), title: 'Delete Comment', data: { turbo_method: :delete }, class: "invert brightness-50 hover:brightness-100 row-start-3 justify-self-center" %>
      <% end %>
    </div>
  <% end %>
<% end %>

<% @num_comments = post.comments.size %>
<% if @num_comments > 3 %>
  <div class="row-start-4 pl-3 py-1 underline decoration-sky-800 text-sky-800">
    <%= link_to "#{post.comments.size - 3} more comment#{'s' if @num_comments > 4}.", post_path(post), data: {turbo_frame: "_top" } %>
  </div>
<% end %>
