<h4>Notifications</h4>

<%= form_with model: Notification, method: :delete do |form| %>

  <% if @profile_posts && !@profile_posts.empty? %>
    <% @profile_posts.each do |post| %>
      <div>
        <%= form.check_box post.notification.id %>
        <%= link_to post.user.name, user_path(post.user) %>   
            posted on your profile. 
        <%= link_to "View", post_path(post) %>
      </div>
    <% end %>
  <% end %>

  <% if @comments && !@comments.empty? %>
    <% @comments.each do |comment| %>
      <div>
        <%= form.check_box comment.notification.id %>
        <%= link_to comment.user.name, user_path(comment.user) %>
          commented on your post.
        <%= link_to "View", post_path(comment.post) %>
      </div>
    <% end %>
  <% end %>

  <% if @likes && !@likes.empty? %>
    <% @likes.each do |like| %>
      <div>
        <%= form.check_box like.notification.id %>
        <%= link_to like.user.name, user_path(like.user) %>
          likes your
        <% if like.comment %>
          <%= 'comment.' %>
        <% else %>
          <%= 'post.' %>
        <% end %>
        <%= link_to "View", post_path(like.post || like.comment.post)   %>
      </div> <br>
    <% end %>
  <% end %>

  <% if @profile_posts.empty? && @likes.empty? && @comments.empty? 
  %>
    <h5>Nothing to see here. Check back later.</h5>
  <% end %>

  <%= form.submit 'Delete selected notifications' %>
<% end %>

<h4>Friend Requests</h4>

<% if @friend_requests && !@friend_requests.empty? %>
  <% @friend_requests.each do |request| %>
    <div>
      <%= turbo_frame_tag 'accept_request' do %>
        <% requester = User.find(request.user_id) %>
        <%= link_to requester.profile.name, user_path(requester) %>
         <%= link_to "Accept Request", user_friendships_path(current_user, type: :accept_request, requester: requester), data: { turbo_method: :post } %>
        <%= link_to "Deny Request", user_friendship_path(current_user, request.id, type: :deny_request), data: { turbo_method: :delete } %>
      <% end %>
    </div>
  <% end %>
<% else %>
  <h5>Nothing to see here. Check back later.</h5>
<% end %>