<h4>Notifications</h4>

<% if @profile_posts && !@profile_posts.empty? %>
  <% @profile_posts.each do |post| %>
    <p>
      <%= link_to post.user.profile.name, user_path(post.user) %>   
      posted on your profile. 
      <%= link_to "View Post", post_path(post) %>
    </p>
  <% end %>
<% end %>

<% if @likes && !@likes.empty? %>
  <% @likes.each do |like| %>
    <p>
      <%= link_to like.user.profile.name, user_path(like.user) %>
      likes your <%= 'post' if like.post || 'comment' if like.comment %>
    </p>
  <% end %>
<% end %>


<h4>Friend Requests</h4>

<% if @friend_requests && !@friend_requests.empty? %>
  <% @friend_requests.each do |request| %>
    <div>
      <%= turbo_frame_tag 'accept_request' do %>
        <% requester = User.find(request.user_id) %>
        <%= link_to requester.profile.name, user_path(requester) %>
         <%= link_to "Accept Request", user_friendships_path(current_user, type: :accept_request, requester: requester), data: { turbo_method: :post } %>
        <%= link_to "Deny Request", user_friendship_path(current_user, request.id, type: :deny_request), data: { turbo_method: :delete } %>
      <% end %>
    </div>
  <% end %>
<% else %>
  <h5>Nothing to see here. Check back later.</h5>
<% end %>