<%= turbo_frame_tag 'query' do %>
  <%= form_with url: '/search', method: :get do |form| %>
          <%= form.text_field :query, class: "border-2 border-stone-200 my-4 shadow-inner shadow-stone-100 outline-none focus:border-2 focus:border-sky-800" %>
          <%= form.submit 'Search', class: "border-solid border-2 border-stone-200 p-0.5 ml-2 bg-stone-200 hover:bg-amber-300 hover:cursor-pointer rounded-sm" %>
        <% end %>

  <% if !@query_results.empty? %>
    <div class="bg-sky-100 gap-3">
      <% @query_results.each do |user| %>
        <div class="flex gap-3 mb-3 p-2">
          <div class="h-10 w-10">
            <%= render partial: 'profiles/display_image', locals: { user: user, size: :thumbnail} %>
          </div>
          <%= link_to user.name, user_path(user), data: {turbo_frame: "_top" }, class: "self-center hover:text-sky-800"  %>
        </div>
      <% end %>
    </div>
  <% else %>
    <p class="font-bold ">No Results. Try another search term.</p>
  <% end %>
<% end %>
