<div class="grid justify-items-center mt-10">
  <div class="grid justify-items-center shadow-inner p-4">
    <h3 class="font-bold text-lg py-2">Find old friends or make new ones!</h3>
    <h4 class="pb-2">Search by name or email, or browse all PeoplePages users.</h4>
    
    <div class="grid w-full justify-items-center">
      <%= turbo_frame_tag 'query' do %>
        <%= form_with url: '/search', method: :get do |form| %>
          <%= form.text_field :query, class: "border-2 border-stone-200 my-4 shadow-inner shadow-stone-100 outline-none focus:border-2 focus:border-sky-800" %>
          <%= form.submit 'Search', class: "border-solid border-2 border-stone-200 p-0.5 ml-2 bg-stone-200 hover:bg-amber-300 hover:cursor-pointer rounded-sm" %>
        <% end %>
      <% end %>
    </div>
    
    <div class="justify-self-start mt-4">
      <% @users.each do |user| %>
        <div class="flex gap-3 pb-3">
          <div class="h-10 w-10">
            <%= render partial: 'profiles/display_image', locals: { user: user, size: :thumbnail } %>
          </div>
          <%= link_to user.name, user_path(user), class: "self-center hover:text-sky-800"  %>
        </div>
      <% end %>
    </div>
  </div>
</div>