<h3>Find old friends or make new ones!</h3>
<h4>Search below by name or email or browse all PeoplePages users.</h4>

<div class="user-search">
  <%= turbo_frame_tag 'query' do %>
    <%= form_with url: '/search', method: :get do |form| %>
      <%= form.text_field :query %>
      <%= form.submit 'Search' %>
    <% end %>
  <% end %>
</div>

<% @users.each do |user| %>
  <div>
  <%# user.profile.photo %>
    <%= link_to user.name, user_path(user)  %>
  </div>
<% end %>