<%# User looking at their own page: %>
<% if current_user == @user %>

  <%# New user - without profile %>
  <% if current_user.profile.nil? %>
    <h3>Welcome to PeoplePages, <%= current_user.email%>!</h3>
    <h4>Let's get started with some information for your  profile</h4>
    <%= form_with model: @profile do |form| %>
      <%= render 'profiles/form', profile: @profile, form:  form %>
    <% end %>
  <% else %>
    <%= render 'profiles/info' %>
    <% Post.user_fitted(@user).each do |post| %>
      <%= render 'posts/post', post: post %>
    <% end %>
  <% end %>
<% else %>

  <%# current_user looking at a friends page %>
  <% if current_user.active_friends.include?(@user) %>
    <%= link_to "Unfriend", user_friendship_path(@user, current_user.friendships.find_by(friend_id: @user.id).id, type: :unfriend, friend: @user), data: { turbo_method: :delete } %>

    <%= render partial: 'posts/friend', locals: { friend: @user } %>

    <% Post.user_fitted(@user).each do |post| %>
      <%= render 'posts/post', post: post %>
    <% end %>

  <%# current_user looking at a user who has requested friendship %>
  <% elsif User.notifications(current_user).any? { |n| n.kind_of?(Friendship) && n.user_id == @user.id } %>
    <%= link_to "Accept Request", user_friendships_path(current_user, type: :accept_request, requester: @user.id), data: { turbo_method: :post } %>
    <%= link_to "Deny Request", user_friendship_path(current_user, @user.id, type: :deny_request), data: { turbo_method: :delete } %>

  <%# current_user looking at user they've requested friendship %>
  <% elsif current_user.pending_friends.include?(@user) %>
    <%= render 'friendships/cancel_request', friend: @user %>

  <%# current_user looking at another users page %>
  <% else %>
    <p>Become friends with <%= @user.profile.name.split[0] %> to view their profile.</p>
    <%= render 'friendships/initiate_request', friend: @user %>
  <% end %>
<% end %>
