<div class="grid justify-items-center mt-10 mb-5 grid-cols-2 gap-8 ">
  <h3 class="font-bold text-2xl row-start-1 col-start-1 col-span-full justify-self-center"><%= @user.name %></h3>

  <div class="row-start-2 col-start-1 justify-self-end">
    <%= render partial: 'profiles/display_image', locals: { user: @user, size: :small } %>
  </div>
  
  <%# User looking at their own page: %>
  <% if current_user == @user %>
  
    <%# New user - without profile %>
    <% if current_user.profile.nil? %>
      <div class = "row-start-2 col-start-2 justify-self-start">
        <strong>
          <h3>Welcome to PeoplePages!</h3>
          <h4 class="pb-3">Let's get started with some information for your profile</h4>
        </strong>
      
        <%= form_with model: @profile do |form| %>
          <%= render 'profiles/form', profile: @profile, form: form %>
        <% end %>
      </div>
      
    <% else %>
      <%= render 'profiles/info' %>
    <% end %>

    <div class="row-start-3 col-span-full justify-self-center">
      <% Post.user_fitted(@user).each do |post| %>
        <%= render 'posts/post', post: post %>
      <% end %>
    </div>
  <% else %>
  
    <%# current_user looking at a friends page %>
    <% if current_user.active_friends.include?(@user) %>
  
      <%= render partial: 'profiles/info' %>
      
      <%= link_to "Unfriend", user_friendship_path(@user, current_user.friendships.find_by(friend_id: @user.id).id, type: :unfriend, friend: @user), data: { turbo_method: :delete }, class: " row-start-2 col-start-2 justify-self-start self-end underline decoration-sky-800 text-sky-800" %>

      <%= render partial: 'posts/friend', locals: { friend: @user } %>
  
      <div class="row-start-4 col-span-full justify-self-center">
        <% Post.user_fitted(@user).each do |post| %>
          <%= render 'posts/post', post: post %>
        <% end %>
      </div>
  
    <%# current_user looking at a user who has requested friendship %>
    <% elsif @user.pending_friends.include?(current_user) %>
      <div class="justify-self-start">
        <p class="pb-1"><%= @user.name.split[0] %> has requested friendship with you.</p>
        <p class="text-sm pb-2">Accept to view their profile.</p>

        <%= link_to "Accept Request", user_friendships_path(current_user, type: :accept_request, requester: @user.id), data: { turbo_method: :post }, class: "underline decoration-sky-800 text-sky-800 pr-2"  %>

        <%= link_to "Deny Request", user_friendship_path(current_user, @user.id, type: :deny_request), data: { turbo_frame: "_top", turbo_method: :delete }, class: "underline decoration-sky-800 text-sky-800"%>
      </div>
  
    <%# current_user looking at user they've requested friendship %>
    <% elsif current_user.pending_friends.include?(@user) %>
      <div class = "justify-self-start">
        <p class="pb-2">You've requested friendship.</p>
        <%= render 'friendships/cancel_request', friend: @user %>
      </div>
  
    <%# current_user looking at another users page %>
    <% else %>
      <div class="row-start-2 col-start-2 justify-self-start">
        <p class="pb-4">Become friends with <%= @user.name.split[0] %> to view their profile.</p>
       
        <%= render 'friendships/initiate_request', friend: @user %>
      </div>

    <% end %>
  <% end %>
</div>
