<% if current_user.profile.nil? %>

  <h3>Welcome to PeoplePages, <%= current_user.email%>!</h3>
  <h4>Let's get started with some information for your profile</h4>
  
  <%= form_with model: @profile do |form| %>
    <%= render 'profiles/form', profile: @profile, form: form %>
  <% end %>

<% else %>

  <h3><%= current_user.profile.name %></h3>
  <%= render 'profiles/info' %>
<% end %>
