<h4>Your Friends:</h4>
<% @active_friends.each do |friend| %>
  <div>
    <%= link_to friend.profile.name, user_path(friend) %>
  </div>
<% end %>

<h4>Your Pending Requests</h4>
<% @pending_friends.each do |friend| %>
  <div>
    <%= link_to friend.profile.name, user_path(friend) %>
    <%= render 'cancel_request', friend: friend %>
  </div>
<% end %>


<h4>Waiting for your approval</h4>
<% @requests = User.friend_requests(current_user) %>
<% if !@requests.empty? %>
  <% @requests.each do |request| %>
    <%= turbo_frame_tag 'accept_request' do %>
      <% requester = request.user %>
      <div>
        <%= link_to requester.profile.name, user_path(requester) %>
        <%= link_to "Accept Request", user_friendships_path(current_user, type: :accept_request, requester: requester.id), data: { turbo_method: :post } %>
        <%= link_to "Deny Request", user_friendship_path(current_user, request.id, type: :deny_request),  data: { turbo_method: :delete } %>
      </div>
    <% end %>
  <% end %>
<% end %>
