<div class=" grid justify-items-center m-14">
  <%= image_tag('people_pages.svg', class: "h-16 w-16") %>

  <h2 class="font-bold py-3">Log in</h2>

  <div class="p-5 bg-stone-200 shadow-md">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>
    
      <div class="field">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
      </div>
    
      <div class="field">
        <%= f.label :password %><br />
        <%= f.password_field :password, autocomplete: "current-password" %>
      </div>
    
      <% if devise_mapping.rememberable? %>
        <div class="field">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me %>
        </div>
      <% end %>
    
      <div class="actions">
        <%= f.submit "Log in", class: "hover:bg-amber-300 hover:cursor-pointer rounded-sm my-2" %>
      </div>
    <% end %>
  </div>
  
  <div class="pt-3 grid justify-items-center">
  	<%= render "devise/shared/links" %>
  </div>
</div>
