<div class="grid grid-rows-2 grid-cols-2 gap-y-1 align-items-center border-solid border-b-2 border-amber-300 pb-2" >
  <% author = post.user %>

  <div class=" col-start-1 row-start-1 pl-3 flex items-center" >
    <div class="inline-block" >
      <%= render partial: 'profiles/display_image', locals: { user: author, size: :thumbnail } %>
    </div>
  
    <%= link_to "#{author.name}", user_path(author.id), class: "pl-3 font-bold hover:text-sky-800 inline-block" %>
  </div>

  <div class="col-start-2 justify-self-center row-span-1 flex items-center text-neutral-400">
    <%= post.created_at.strftime('%B %e at %l:%M%P') %>
  </div>

  <div class= "col-span-full flex items-center pl-3">
    <%= post.body %>
  </div>

  <% if post.updated_at != post.created_at %>
    <div class= "pl-3 text-neutral-400">
    Updated:
    <%= post.updated_at.strftime('%B %e at %l:%M%P') %>
    </div>
  <% end %>
</div>
