<%# Adding inline style to fix Tailwind width issue until better solution is found. %>
<div class="grid grid-cols-2 gap-y-1 align-items-center border-solid border-b-2 border-amber-300 pb-2 pt-1" style="width: 610px" >
  <% author = post.user %>

  <div class=" col-start-1 row-start-1 pl-3 flex items-center" >
    <div class="inline-block h-10 w-10" >
      <%= render partial: 'profiles/display_image', locals: { user: author, size: :thumbnail } %>
    </div>
  
    <%= link_to "#{author.name}", user_path(author.id), class: "pl-3 font-bold hover:text-sky-800 inline-block", data: { turbo_frame: "_top" } %>
  </div>

  <div class="col-start-2 justify-self-center row-span-1 flex items-center text-neutral-400">
    <%= post.created_at.strftime('%B %e at %l:%M%P') %>
  </div>

  <%# Adding inline style to fix Tailwind width issue until better solution is found. %>
  <div class="col-span-full pl-3 pt-3 pb-3" style="overflow-wrap: break-word">
    <%= sanitize(post.body.strip.gsub(/\n/, "<br/>")) %>
  </div>

  <% if post.updated_at != post.created_at %>
    <div class= "pl-3 text-neutral-400">
    Updated:
    <%= post.updated_at.strftime('%B %e at %l:%M%P') %>
    </div>
  <% end %>
</div>
