<div class="post-container">
  <%= render partial: 'posts/content', locals: { post: post } %>

  <%= turbo_frame_tag 'like' do %>
    <%= link_to "Like", likes_path(like_post: post), data: { turbo_method: :post } %>
  <% end %>

  <%= turbo_frame_tag "post_#{post.id}" do %>
    <%= render 'comments/preview', post: post %>
  <% end %>

  <% @num_comments = post.comments.size %>
  <% if @num_comments > 3 %>
    <span><%= post.comments.size - 3 %> more comments. </span>
  <% end %>

  <% if @author == current_user %>
    <span><%= link_to "View/Edit Post", post_path(post.id)%></span>
  <% else %>
    <span><%= link_to "View Post", post_path(post.id)%></span>
  <% end %>

  <%= render partial: 'comments/form', locals: { post: post} %>
</div>
