<div class="mb-6 bg-amber-300 pt-1 pl-1 drop-shadow-lg rounded-lg">
  <div class=" py-2 pr-2 drop-shadow-md bg-stone-100 rounded-lg grid grid-cols-3">
    <div class="col-span-full ">
      <%= render partial: 'posts/content', locals: { post: post } %>
    </div>

    <div class="row-start-2 pl-3 pt-2 flex items-center gap-2">
      <%= link_to image_tag('icons/view_outline.png'), post_path(post.id), title: "View Post", class: "invert brightness-50 hover:brightness-100" %>
      <% if current_user == post.user %>
        <%= link_to image_tag("icons/edit_outline.png"), post_path(post), title: 'Edit Post', class: "invert brightness-50 hover:brightness-100" %>

        <%= link_to image_tag("icons/delete_outline.png"), post, data: { turbo_method: :delete }, class: "invert brightness-50 hover:brightness-100", title: "Delete Post" %>
      <% end %>
    </div>

    <%= turbo_frame_tag "like_#{post.id}", class: "row-start-3 col-span-full pl-3 py-2 flex items-center" do %>
      <% if post.likes.any? { |like| like.user_id == current_user.id } %>
        <%= render partial: 'likes/unlike', locals: {resource: post } %>
      <% else %>
        <%= render partial: 'likes/like', locals: { resource: post } %>
      <% end %>
    <% end %>
  
    <%= turbo_frame_tag "post_#{post.id}", class: "row-start-4 pl-3 grid grid-rows-auto col-span-full gap-4 divide-y-2" do %>
      <%= render partial: 'comments/preview', locals: { post: post } %>
    <% end %>

    <div class="row-start-7 col-span-full pl-3 py-2">
      <%= render partial: 'comments/form', locals: { post: post} %>
    </div>
  </div>
</div>
