<%= turbo_frame_tag 'post' do %>
  <%= render partial: 'posts/content', locals: { post: @post} %>

  <%= turbo_frame_tag "like_#{@post.id}" do %>
    <% if @post.likes.any? { |like| like.user_id == current_user.id } %>
      <%= render partial: 'likes/unlike', locals: {resource: @post } %>
    <% else %>
      <%= render partial: 'likes/like', locals: { resource: @post } %>
    <% end %>
  <% end %>
  
  <% if current_user == @post.user %>
    <%= link_to "Edit", edit_post_path(@post) %>
    <%= link_to "Delete", post_path(@post.id), data: {turbo_confirm: 'Are you sure you want to delete this post and its comments?', turbo_method: :delete }  %>
  <% end %>
<% end %>

<div><%= @post.comments.size %> comments</div>

<%= turbo_frame_tag 'comment' do %>
  <% @post.comments.includes(:user).each do |comment| %>
    <%= render partial: 'comments/comment', locals: {   comment: comment } %>
  <% end %>
<% end %>

<%= render partial: 'comments/form', locals: { post: @post } %>