<%= turbo_frame_tag 'post' do %>
  <% @author = @post.user %>
  <strong>
    <%= link_to "#{@author.profile.name}", user_path(@author.id)  %>
  </strong>
  <%= @post.created_at.strftime('%B %e at %l:%M%P') %>
  <% if @post.updated_at != @post.created_at %>
    <p>Updated:
    <%= @post.updated_at.strftime('%B %e at %l:%M%P') %>
    </p>
  <% end %>
  <%= @post.body %>
  
  <% if current_user == @post.user %>
    <%= link_to "Edit", edit_post_path(@post) %>
    <%= link_to "Delete", post_path(@post.id), data: {turbo_confirm: 'Are you sure you want to delete this post and its comments?', turbo_method: :delete }  %>
  <% end %>
<% end %>

<div><%= @post.comments.size %> comments</div>

<%= turbo_frame_tag 'comment' do %>
  <% @post.comments.includes(:user).each do |comment| %>
    <%= render partial: 'comments/comment', locals: {   comment: comment } %>
  <% end %>
<% end %>

<div class="comment">
  <%= form_with model: Comment,
                  data: { controller: 'input', action: 'turbo:submit-end->input#clear' } do |form| %>
    <%= form.text_area :body, size: '60X10', placeholder: 'Leave a comment' %>
    <%= form.hidden_field :post_id, value: @post.id %>
    <%= form.submit 'Add' %>
  <% end %>
</div>