<!DOCTYPE html>
<html>
  <head>
    <title>PeoplePages</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

    <nav>
      <% if user_signed_in?  %>
        <div>
          <%= link_to "My Profile", user_profile_path(current_user) %>
        </div>
        <div>
          <%= link_to "Find Friends", users_path %>
        </div>
        <div>
          <%= link_to "Sign Out", destroy_user_session_path %>
        </div>
      <% end %>
    </nav>

  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <%= yield %>
  </body>
</html>
