<!DOCTYPE html>
<html>
  <head>
    <title>PeoplePages</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="m-5">
    <% if user_signed_in?  %>
      <nav class="grid grid-cols-9 gap-4 bg-stone-200">

        <div class="justify-self-center p-2 hover:rounded-b-lg hover:bg-amber-300">
          <%= link_to "|* PP *|", posts_path  %>
        </div>
        <div class="justify-self-start p-2 hover:rounded-b-lg hover:bg-amber-300" >
          <%= link_to "Find Friends", users_path %>
        </div>
        <div class="col-start-4 justify-self-end p-2 hover:rounded-b-lg hover:bg-amber-300">
          <%= link_to current_user.name, user_profile_path(current_user) %>
        </div>
        <div class="col-start-5 justify-self-center p-2 hover:rounded-b-lg hover:bg-amber-300">
          <%= link_to "Friends", user_friendships_path(current_user) %>
        </div>
        <div class="col-start-6 col-span-2 justify-self-start p-2 hover:rounded-b-lg hover:bg-amber-300">
          <%= link_to "Notifications", notifications_path %>
        </div>
        <div class="justify-self-center col-start-9 p-2 hover:rounded-b-lg hover:bg-amber-300">
          <%= link_to "Sign Out", destroy_user_session_path %>
        </div>

      </nav>
    <% end %>

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <%= yield %>
  </body>
</html>
